# API Gateway (voir infra/terraform/OUTPUTS.md -> api_gateway_endpoint)
VITE_API_BASE_URL=https://wy4qk57rug.execute-api.ca-central-1.amazonaws.com

# Cognito Hosted UI (voir infra/terraform/OUTPUTS.md -> cognito_hosted_ui_domain)
VITE_COGNITO_DOMAIN=https://optiprocure-dev-backoffice.auth.ca-central-1.amazoncognito.com
VITE_COGNITO_CLIENT_ID=changeme

# Doit correspondre à une entrée de cognito_callback_urls / cognito_logout_urls
# dans terraform.tfvars (localhost:3000 par défaut pour le développement local).
VITE_REDIRECT_URI=http://localhost:3000/callback
VITE_LOGOUT_URI=http://localhost:3000/logout
